<!DOCTYPE html>
<html>
<head>
    <script>
        // Define the URLs using Jinja2 expressions. This part will not be linted as JavaScript.
        var form1URL = "{{ url_for('form1') }}";
        var form2URL = "{{ url_for('form2') }}";
        
        // Define JavaScript functions that use the URLs. This part will be linted as JavaScript.
        function goToForm1() {
            window.location.href = form1URL;
        }
        function goToForm2() {
            window.location.href = form2URL;
        }
    </script>
</head>
<body>
    <h1>Welcome to our website!</h1>

    <!-- Use the JavaScript functions in the onclick events -->
    <button onclick="goToForm1();" type="button">Form 1</button>
    <button onclick="goToForm2();" type="button">Form 2</button>

</body>
</html>
