<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>Database Results</h2>
    <table>
        <thead>
            {% if data %}
                <tr>
                    {% for key in data[0].keys() %}
                        <th>{{ key }}</th>
                    {% endfor %}
                </tr>
            {% endif %}
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    {% for item in row.values() %}
                        <td>{{ item }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('home') }}">Back</a>
</body>
</html>
